<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <img src="pictures/fisk.jpg" style="width:100%;">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Update Password</h1>
    <form action="/update_password" method="post" onsubmit="return validatePassword()">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="New Password">
        <input type="submit" value="Update">
    </form>
</body>
</html>
